.direct-line-credentials__expired-footnote {
  color: Red;
}

.direct-line-credentials__input:invalid {
  border-color: Red;
  border-style: solid;
  border-width: 1;
}

.direct-line-credentials__input-row {
  display: flex;
  flex: 1;
  position: relative;
}

.direct-line-credentials__refresh-token-button {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: rgba(0, 0, 238);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-decoration: underline;
}

.direct-line-credentials__secret-and-token {
  flex: 1;
  font-family: Consolas, 'Courier New', monospace;
  margin-right: 1em;
}
