.speech-credentials__input {
  flex: 1;
  font-family: Consolas, 'Courier New', monospace;
  margin-right: 1em;
}

.speech-credentials__input:invalid {
  border-color: Red;
  border-style: solid;
  border-width: 1;
}

.speech-credentials__input-row {
  display: flex;
}

.speech-credentials__row {
  flex: 1;
}

.speech-credentials--red {
  color: Red;
}

.speech-credentials__region-select {
  flex: 1;
}
